@use '../variables' as variables;

@media screen and (max-width: 1200px) {
        
    .container-tools {
        gap: 0;

        .text-wrapper {
            padding: 24px 20px;
            margin-bottom: 0;
        }
    }
}