@use '../variables' as variables;

@media screen and (max-width: 768px) {
    .first-screen__title {
        font-size: 46px;
    }

    .section-title {
        font-size: 38px;
    }

    .section-subtitle_sm {
        font-size: 21px;
    }

    .services__grid {
        grid-template-columns: 1fr;
    }
}