@use 'variables'as variables;

.first-screen {
    background: url(./assets/img/first-screen.png) center / cover no-repeat;    
    padding: 456px 10px 10px;
    
    &__title {
        color: variables.$primary-color;
        font-size: 54px;
        line-height: 1.1;
        margin-bottom: 18px;
    }

    .text-wrapper {
        margin-bottom: 0;
    }
}