@use "variables" as variables;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%; // iOS
}

body {
    font-family: "Poppins";
    
    section {
        background-color: variables.$bg-color;
    }
}

::selection {
    background: #222;
    color: #FFB300;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    height: auto;
    max-width: 100%;
}

img:not([alt]),
img[alt=""] {
    filter: blur(10px);
}

i, 
em {
    font-style: italic;
}

b,
strong {
    font-weight: bold;
}

footer {
    margin-top: auto;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.container-case {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 332px;
    width: 100%;
    height: 600px;
    margin-left: auto;
    margin-right: 60px;
    padding-left: 16px;
    padding-right: 17px;

    .description {
        margin-bottom: 0;
    }
}

.case, .tools {
    position: relative;
    margin-bottom: -1px;
    
    &_fuji {
        background: url(./assets/img/fuji.png) center / cover no-repeat;
    }

    &_monstera {
        background: url(./assets/img/monstera.png) center / cover no-repeat;
    }

    &_himalayas {
        background: url(./assets/img/himalayas.png) center / cover no-repeat;
    }

}

.button {
    align-self: flex-start;
    position: relative;
    background-color: variables.$primary-color;
    border: 1px solid transparent;
    border-radius: 14px;
    color: variables.$bg-color;
    font-size: 16px;
    line-height: 1.25;
    font-family: "Poppins";
    letter-spacing: 0.4px;
    padding: 8px 9px 12px 41px;
    transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease, transform 0.1s ease;

    &:hover, &:focus-visible {
        background-color: variables.$bg-color;
        border-color: variables.$primary-color;
        color: variables.$primary-color;
    }

    &:active {
        transform: scale(0.98);
    }
}

.button-icon {
    position: absolute;
    top: 4px;
    left: 3px;
    width: 32px;
    height: 32px;
}

.text-wrapper {
    max-width: 600px;
    width: 100%;
    margin: 0 auto 40px;
    text-align: center;
}

.section-title {
    color: variables.$primary-color;
    font-size: 40px;
    line-height: 1.05;
    margin-bottom: 15px;

    &_sm { 
        font-size: 28px;
        line-height: 1.14;
        margin-bottom: 14px;
    }
}

.section-subtitle {
    color: variables.$secondary-color;
    font-size: 24px;
    line-height: 1.25;
    padding-bottom: 2px;
    margin-bottom: 40px;

    &_sm {
        font-size: 23px;
        line-height: 1.30;
    }
}

.top-title {
    color: variables.$primary-color;
    letter-spacing: 2px;

    &_case {
        color: variables.$primary-color;
    }

    &_inverse {
        color: variables.$secondary-color;
    }
}

.description {
    color: variables.$secondary-color;
    margin-bottom: 17px;

    &_inverse {
        color: variables.$primary-color;
        margin-bottom: 20px;
    }
}

.description, .top-title {
    font-size: 14px;
    line-height: 1.42;
}

.wrapper-values {
    position: absolute;
    right: 40px;
    bottom: 40px;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-bottom: 0;
}

.box-svg {
    display: flex;
    gap: 6px;
}

.svg-delay,
.svg-aperture {
    width: 16px;
    height: 16px;
}
.svg-iso {
    width: 32px;
    height: 16px;
}
.svg-pin {
    width: 10px;
    height: 16px;
}

.value {
    color: variables.$primary-color;
    font-size: 12px;
}

.svg-sprite {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.overflow-hidden {
    overflow: hidden;
}