@use "variables" as variables;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%; // iOS
}

body {
    font-family: "Poppins";
}

img,
picture,
video,
canvas,
svg {
    display: block;
    height: auto;
    max-width: 100%;
}

img:not([alt]),
img[alt=""] {
    filter: blur(10px);
}

i, 
em {
    font-style: italic;
}

b,
strong {
    font-weight: bold;
}

footer {
    margin-top: auto;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.text-wrapper {
    max-width: 600px;
    width: 100%;
    margin: 0 auto 7px;
    text-align: center;
}

.section-title {
    color: variables.$primary-color;
    font-size: 40px;
    line-height: 1.05;

    &_sm { 
        font-size: 28px;
        line-height: 1.14;
    }
}

.section-subtitle {
    color: variables.$primary-color;
    font-size: 24px;
    line-height: 1.25;

    &_sm {
        font-size: 23px;
        line-height: 1.30;
    }
}

.top-title {
    letter-spacing: 2px;

    &_case {
        color: variables.$primary-color;
    }
}

.description, .top-title {
    color: variables.$secondary-color;
    font-size: 14px;
    line-height: 1.42;
}



.wrapper-values {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    padding-bottom: 40px;
    padding-right: 12px;
}

.box-svg {
    display: flex;
    gap: 6px;
}

.svg-delay,
.svg-aperture {
    width: 16px;
    height: 16px;
}
.svg-iso {
    width: 32px;
    height: 16px;
}
.svg-pin {
    width: 10px;
    height: 16px;
}

.value {
    color: variables.$primary-color;
    font-size: 12px;
}

.svg-sprite {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.overflow-hidden {
    overflow: hidden;
}