@use 'variables'as variables;

.img-wrapper {
    max-width: 720px;
    flex: 1 0 360px;
}

.container-tools {
    display: flex;
    justify-content: space-between;
    gap: 60px;

    .text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 60px 46px 40px 40px;
        text-align: start;
        flex: 1 0 200px;

        .top-title {
            margin-bottom: 6px;
        }
    }
}