<section class="case case_fuji">
    <div class="container-case">
        <h4 class="top-title">Sunset at Mount Fuji</h4>
        <p class="description">Duis tristique sed lorem a vestibulum. Cras commodo consequat orci, in convallis risus egestas non.</p>
    </div>
    <div class="wrapper-values">
        <div class="box-svg">
            <svg class="svg-delay">
                <use href="#delay-icon"></use>
            </svg>
            <span class="value">1''</span>
        </div>
        <div class="box-svg">
            <svg class="svg-aperture">
                <use href="#aperture-icon"></use>
            </svg>
            <span class="value">f/16</span>
        </div>
        <div class="box-svg">
            <svg class="svg-iso">
                <use href="#iso-icon"></use>
            </svg>
            <span class="value">400</span>
        </div>
        <div class="box-svg">
            <svg class="svg-pin">
                <use href="#pin-icon"></use>
            </svg>
            <span class="value">Japan</span>
        </div>
    </div>
</section>