<section class="case case_monstera">
    <div class="container-case">
        <h4 class="top-title">Monstera Leafs</h4>
        <p class="description">Vestibulum sit amet urna turpis. Mauris euismod elit et nisi ultrices, ut faucibus orci tincidunt.</p>
    </div>
    <div class="wrapper-values">
        <div class="box-svg">
            <svg class="svg-delay">
                <use href="#delay-icon"></use>
            </svg>
            <span class="value">1/400s</span>
        </div>
        <div class="box-svg">
            <svg class="svg-aperture">
                <use href="#aperture-icon"></use>
            </svg>
            <span class="value">f/3,5</span>
        </div>
        <div class="box-svg">
            <svg class="svg-iso">
                <use href="#iso-icon"></use>
            </svg>
            <span class="value">100</span>
        </div>
        <div class="box-svg">
            <svg class="svg-pin">
                <use href="#pin-icon"></use>
            </svg>
            <span class="value">Costa Rica</span>
        </div>
    </div>
</section>