<section class="case case_himalayas">
    <div class="container-case">
        <h4 class="top-title">Star fall in the Himalayas</h4>
        <p class="description">Nulla rhoncus feugiat eros quis consectetur. Morbi neque ex, condimentum dapibus congue et, vulputate ut ligula.</p>
    </div>
    <div class="wrapper-values">
        <div class="box-svg">
            <svg class="svg-delay">
                <use href="#delay-icon"></use>
            </svg>
            <span class="value">6''</span>
        </div>
        <div class="box-svg">
            <svg class="svg-aperture">
                <use href="#aperture-icon"></use>
            </svg>
            <span class="value">f/11</span>
        </div>
        <div class="box-svg">
            <svg class="svg-iso">
                <use href="#iso-icon"></use>
            </svg>
            <span class="value">800</span>
        </div>
        <div class="box-svg">
            <svg class="svg-pin">
                <use href="#pin-icon"></use>
            </svg>
            <span class="value">Nepal</span>
        </div>
    </div>
</section>