<section class="clients">
    <div class="container">
        <div class="text-wrapper">
            <h2 class="section-title">Past clients</h2>
            <h3 class="section-subtitle">Trusted by your favourite companies</h3>
        </div>
        <div class="clients__svg-wrapper">
            <svg class="clients__svg clients__svg_first">
                <use href="#client-1"></use>
            </svg>
            <svg class="clients__svg clients__svg_second">
                <use href="#client-2"></use>
            </svg>
            <svg class="clients__svg clients__svg_third">
                <use href="#client-3"></use>
            </svg>
            <svg class="clients__svg clients__svg_fourth">
                <use href="#client-4"></use>
            </svg>
            <svg class="clients__svg clients__svg_fifth">
                <use href="#client-5"></use>
            </svg>
        </div>
    </div>
</section>