<section class="first-screen">
    <div class="container">
        <div class="text-wrapper">
            <h4 class="top-title">Photographer & Filmmaker</h4>
            <h1 class="first-screen__title">Aperture Studios</h1>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
        </div>
        <div class="wrapper-values">
            <div class="box-svg">
                <svg class="svg-delay">
                    <use href="#delay-icon"></use>
                </svg>
                <span class="value">1/2000s</span>
            </div>
            <div class="box-svg">
                <svg class="svg-aperture">
                    <use href="#aperture-icon"></use>
                </svg>
                <span class="value">f/11</span>
            </div>
            <div class="box-svg">
                <svg class="svg-iso">
                    <use href="#iso-icon"></use>
                </svg>
                <span class="value">100</span>
            </div>
            <div class="box-svg">
                <svg class="svg-pin">
                    <use href="#pin-icon"></use>
                </svg>
                <span class="value">Iceland</span>
            </div>
        </div>
    </div>
</section>