<header class="header">
    <div class="container">
        <a href="#">
            <img src="./assets/img/logo.svg" alt="logo" class="header__logo">
        </a>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item"><a href="#" class="header__nav-link">Business areas</a></li>
                <li class="header__nav-item"><a href="#" class="header__nav-link">Featured images</a></li>
                <li class="header__nav-item"><a href="#" class="header__nav-link">Gear cage</a></li>
                <li class="header__nav-item"><a href="" class="header__nav-link">Contact</a></li>
            </ul>
            <button type="button" class="button header__nav-button">Get template</button>
        </nav>
        <button type="button" class="header__burger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>