<div class="modal" id="contact">
    <div class="modal-body">
        <button type="button" class="close-modal" data-close-modal="contact">
            <span></span>
            <span></span>
        </button>
        <h4 class="modal__title">Let's work together</h4>
        <form class="modal__form" data-form="contact">
            <input type="text" name="user-name" class="modal__input" placeholder="enter your name" data-form-name="contact">
            <label for="user-name" class="modal__label" data-name-message="contact">this field is required</label>
            <input type="email" name="email" class="modal__input" placeholder="enter your email" data-form-email="contact">
            <label for="email" class="modal__label" data-email-message="contact">this field is required</label>
            <textarea class="modal__textarea" placeholder="enter your message"></textarea>
            <button type="button" class="modal__button" data-form-button="contact">Let's talk</button>
        </form>
    </div>
</div>

<div class="modal" id="booking">
    <div class="modal-body">
        <button type="button" class="close-modal" data-close-modal="booking">
            <span></span>
            <span></span>
        </button>
        <h4 class="modal__title">Let's create something cinematic.</h4>
        <form class="modal__form" data-form="booking">
            <input type="text" name="user-name" class="modal__input" placeholder="enter your name" data-form-name="booking">
            <label for="user-name" class="modal__label" data-name-message="booking">this field is required</label>
            <input type="email" name="email" class="modal__input" placeholder="enter your email" data-form-email="booking">
            <label for="email" class="modal__label" data-email-message="booking">this field is required</label>
        </form>
        <div class="select">
            <div class="select__trigger" data-select-trigger="selectBooking">Select an option</div>
            <div class="select__dropdown" id="selectBooking">
                <div class="select__option">Product Photography</div>
                <div class="select__option">Architecture Photography</div>
                <div class="select__option">Drone Photography</div>
                <div class="select__option">Wildlife Photography</div>
            </div>
        </div>
        <ul class="modal-features">
            <li class="modal-features__item">Studio Quality</li>
            <li class="modal-features__item">Outdoor & Indoor Shoots</li>
            <li class="modal-features__item">Drone Coverage</li>
            <li class="modal-features__item">Commercial Ready</li>
        </ul>
        <button type="button" class="modal__button" data-form-button="booking">Start Your Project</button>
    </div>
</div>