<div class="modal" id="contact">
    <div class="modal-body">
        <button type="button" class="close-modal" data-close-modal="contact">
            <span></span>
            <span></span>
        </button>
        <h4 class="modal__title">Let's work together</h4>
        <form class="modal__form" data-form="contact">
            <input type="text" name="user-name" class="modal__input" placeholder="enter your name" data-form-input="contact">
            <label for="user-name" class="modal__label" data-form-message="contact">this field is required</label>
            <input type="email" name="email" class="modal__input" placeholder="enter your email">
            <label for="email" class="modal__label">this field is required</label>
            <textarea class="modal__textarea" placeholder="enter your message"></textarea>
            <button type="button" class="modal__button" data-form-button="contact">Let's talk</button>
        </form>
    </div>
</div>