<section class="tools">
    <div class="container-tools">
        <div class="text-wrapper"> 
            <h4 class="top-title top-title_inverse">The Gear cage</h4>
            <h2 class="section-title section-title_sm">The Gear cage</h2>
            <p class="description description_inverse">The say that "no place is boring if you've had a good night's sleep and have a pocket full of unexposed film". While we don't shoot (a lot) of film these days — these are the tools that we actually use everyday to capture the amazing things around us.</p>
            <button type="button" class="button">Check it out
                <svg class="button-icon">
                    <use href="#button-icon"></use>
                </svg>
            </button>
        </div>
        <div class="img-wrapper">
            <img src="./assets/img/tools.png" alt="tools">
        </div>
    </div>
    <div class="wrapper-values">
        <div class="box-svg">
            <svg class="svg-delay">
                <use href="#delay-icon"></use>
            </svg>
            <span class="value">0,8''</span>
        </div>
        <div class="box-svg">
            <svg class="svg-aperture">
                <use href="#aperture-icon"></use>
            </svg>
            <span class="value">f/5,6</span>
        </div>
        <div class="box-svg">
            <svg class="svg-iso">
                <use href="#iso-icon"></use>
            </svg>
            <span class="value">100</span>
        </div>
        <div class="box-svg">
            <svg class="svg-pin">
                <use href="#pin-icon"></use>
            </svg>
            <span class="value">Sweden</span>
        </div>
    </div>
</section>